<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- aj:for 360 -->
    <meta name="renderer" content="webkit">
    <title>ASK.DOG 让知识变得触手可及</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/source/images/favicon.ico" type="image/ico">
    <link rel="icon" href="/source/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/lib/askdog.css"/>
    <link rel="stylesheet" type="text/css" href="/source/components/application.scss"/>
</head>
<body>
<div class="widgets-header-placeholder"></div>

</body>
<script type="application/javascript" src="/lib/askdog.js"></script>
<script type="application/javascript" src="/source/components/application.coffee"></script>
<script>
    var _Application = require("askdog:/components/application");
    new _Application();
</script>
</html>